.button-basic, .button-report, .button-submit, .button-signup {
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }

.button-report {
  background-color: red; }

.button-submit {
  background-color: green;
  color: white; }

.button-signup {
  float: right;
  background-color: white;
  color: #00c3ff; }
